body, html {
  margin: 0;
  overflow-x: hidden;
}

.outer {
  background-image: url(../images/city.jpg);
  background-attachment:fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

img {
  max-width: 100%;
}

p {
  margin: 0;
}

.container {
  /*display: flex;*/
}
header, nav, footer, section, article, div {
  box-sizing: border-box;
}

#header_content {
  -webkit-display: flex;
  -moz-display: flex;
  display: flex;
  flex-wrap: wrap;
  background-color: #bbc9cA;
}

.main_content {
}

.box {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 200px;
  margin: 1rem;
  position: relative;
  width: 300px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  opacity: 0.7;
}

/************ FIRST ROW / HEADER ***************/

.header_info {
  margin: 0;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  background-color: #405B65;

}

.head_name {
  font-family: 'Dosis', sans-serif;
  order: 1;
  margin-bottom: 10px;
  display: block;
  font-size: 2em;
  color: #fff;
}

.name {
  margin: 0;
  font-family: 'Megrim', cursive;
}

.contact:hover {
  opacity: 0.7;
}

.contact {
  width: 50px;
  height: 50px;
  margin-bottom: 15px;
}

.skill {
  width: 100%;
  font-family: 'Dosis', sans-serif;
  font-size: 1.4em;
  text-align: center;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.head_shot {
  order: 1;
  margin-top: 20px;
  width: 50%;
  padding-right: 30px;
  padding-bottom: 10px;
}


.h_s {
  float: right;
  height: 150px;
  max-width: 100%;
}

.res_svg {
  margin-top: 20px;
  width: 50%;
  padding-left: 30px;
  padding-bottom: 10px;
}

/************* SECOND ROW *****************/
.body_container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #f5f5f5;
  padding-bottom: 20px;
  font-family: 'Dosis', sans-serif;
}

.tech {
  margin-bottom: 20px;
  width: 100%;

  font-size: 1.4em;
}

/*********** Front End ***************/
.front_end {
  width: 100%;
}

.res_s {
  height: 150px;
  max-width: 100%;
}

.fn_res {
  margin-top: 20px;
}

/********SERVER SIDE**********/
.server_side {
  width: 100%;
}

.server_v {
  margin-top: 20px;
  height: 150px;
  max-width: 100%;
}

/**********BACKEND*********/
.back_end {
  width: 100%;
}

/**********PROJECTS**********/
.main_projects {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #f5f5f5;
  font-family: 'Dosis', sans-serif;
}

.projects_inner {
  margin-right: 40px;
  border-top: solid #d3d3d3 1px;
  margin-left: 40px;
}

.projects_title {
  font-size: 1.4em;
}

.pro_dock {
  margin-top: 20px;
}

.dockit {
  margin-top: 20px;
}
.dockit_inner {
  margin: 0 auto;
  width: 200px;
  height: 250px;
}

.project_img {
  height: 140px;
  width: inherit;
   border-top-left-radius: 2px;
   border-top-left-radius: 2px;
}

.project_p {
  margin-top: 5px;
  font-size: 1em;
  padding: 5px;
}

.mean_topics {
  padding-bottom: 40px;
}

/*********** Footer ***************/
.the_footer {
  -webkit-display: flex;
  -moz-display: flex;
  display: flex;
  flex-wrap: wrap;
  background-color: #f5f5f5;
}

.foot_content {
  padding-bottom: 15px;
}

.foot_inner {
  padding: 20px;
  border-top: solid #d3d3d3 1px;
  margin-left: 40px;
  margin-right: 40px;
}

.about {
  font-family: 'Dosis', sans-serif;
  font-size: 1.6em;
}
