 .title, .head_shot, .res_svg {
   order: 10;
 }

 /*****  640px ******/
@media screen and (min-width: 640px) {

  .main_content {
    display: flex;
  }

  #header_content {
    padding-top: 20px;
    background-color: #f5f5f5;
  }

  .tech {
    border: none;
  }

  .head_shot {
    order: -3;
    margin-top: 0;
    padding-right: 35px;
    width: 33%;
  }

  .name {
    margin-bottom: 0;
  }

  .full_stack {
    margin-bottom: 10px;
    font-size: 1.5em;
  }

  .skill {
    order: -2;
    width: 33%;
    font-size: 1em;
    padding-top: 0;
  }

  .res_svg {
    order: -1;
    padding-left: 35px;
    margin-top: 0;
    width: 33%;
  }

  .contact, .name {
    display: inline-block;
  }

  .contact {
    margin-left:20px;
  }

 /*******Body Content*******/

 .body_container {
   width: 50%;
   margin: 0;
 }

 .main_projects {
   width: 50%;
   margin: 0;
   border-top: 0;
 }
}

/************ 900px **************/
@media screen and (min-width: 900px) {

  .main_content {
    display: block;
  }

  .move {
    margin-top: 0;
  }

  .main_projects {
    width: 100%;
    -webkit-flex-direction: row;
    flex-direction: row;

  }

  .body_container {
    width: 100%;
    -webkit-flex-direction: row;
    flex-direction: row;
  }

/******** Technologies ***********/
  .front_end  {
    width: 33%;
  }

  .server_side {
    width: 33%;
  }

  .back_end {
    width: 33.3%;
  }

/************* Projects ***************/

  .dockit {
    width: 33%;
  }

  .projects_inner {
    width: 100%;
  }

  .rails_events {
    width: 33%;
  }

  .mean_topics {
    width: 33%;
  }
/************ Top Full Stack *****************/

  .full_stack {
    font-size: 1.8em;
    margin-bottom: 10px;
  }
}

/**************** 1020px ******************/
@media screen and (min-width: 1020px) {
  .container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}
